.nextflow*
.git.bkp/*
work/*
data/*
runs/*
output/*
nextflow_reports/*
example_output/*
private.md
example_data/*.gz
singularity/bug-flow.img
carlos_test.sh
slurm*
*.fa

conda/*
!conda/*.yaml
data/ridom_scheme
